.toggleWrapper {
  overflow: hidden;
}
.toggleWrapper input {
  position: absolute;
  left: -99em;
}
.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
  background: #f78a11;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
input:checked + .toggle {
  background-color: white;
}
input:checked + .toggle .toggle__handler {
  background-color: #f78a11;
  transform: translate3d(40px, 0, 0) rotate(0);
  opacity: 1;
}
