.hover-img:hover {
  opacity: 0.6;
  transition: 0.3s;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #fff;
}
.bg-dark {
  background-color: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.72);
}
.offcanvas {
  background-color: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.72);
}
.offcanvas-backdrop {
  background-color: unset !important;
}
@media screen and (max-width: 480px) {
  .fixed-top {
    position: absolute !important;
    top: 15px !important;
    left: unset !important;
    right: 0 !important;
  }
}
